<div class="banner">
  <div class="menu-bar">
    <a href="/dashboard/active">Active</a>
    <a href="/dashboard/latest">Latest</a>
    <a href="/dashboard/deleted">Deleted</a>
  </div>
  <div class="title main">Projects</div>
  <div class="title summary">All Projects</div>
</div>
<div class="actionsWrap">
  <core-tooltip label="New Project" class="fancy pull-right new-project" role="tooltip">
    <paper-fab icon="add" role="button"></paper-fab>
  </core-tooltip>
</div>

<div class="projectWrap">
  <%= render :partial => "projectTile" %>
</div>