<div class="taskTile col-lg-12 col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel-primary">
        <h3><%= task.title %></h3>
        <div clss="panel-body">
          <%= task.description %>
        </div>
      <div clss="panel-footer">
        <%= task.description %>
      </div>
    </div>
</div>
