<div class="vertical-center">
  <div class="col-lg-6 col-md-6 col-xs-12">

  </div>
  <div class="col-lg-6 col-md-6 col-xs-12" style="margin-top: -8px; padding-top: 25%;">
    <center>
      <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
        <div id="customBtn" class="customGPlusSignIn">
          <span class="icon"></span>
          <span class="buttonText">Sign in with Google</span>
        </div>
      </a>
    </center>
  </div>
</div>