<div class="vertical-center jumbotron">
    <center>
      <h1> Log In </h1>
      <h3> To Timesheet </h3>
      <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
        <div id="customBtn" class="customGPlusSignIn">
          <span class="icon"></span>
          <span class="buttonText">Sign in with Google</span>
        </div>
      </a>
    </center>
</div>
