<div class="col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-offset-0 col-xs-12" style="margin-top: calc(25% - 17px);">
  <center>
    <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Sign in with Google</span>
      </div>
    </a>
  </center>
</div>
