<div class="modal fade" id="add_member" tabindex="-1" role="dialog" aria-labelledby="add_member" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Add Member</h4>
      </div>
      <div class="modal-body">
        <%= form_for ProjectUser.new, url: {controller: "project_users", action: "create"} do |f| %>
          <div class="table-responsive">
            <div class="row margin0">
              <span class="col-lg-12 col-md-12 col-xs-12 marginTB10 hide">
                <%= f.text_field :project_id, :class => 'form-control',
                                 :name => "project_user[project_id]", :required => "true",
                                 :placeholder => "Project"
                %>
              </span>
            </div>
            <div class="row margin0">
              <span class="col-lg-12 col-md-12 col-xs-12 marginTB10">
                <input name="project_user[user_id]"
                       class="form-control select2Input"
                       placeholder="User"
                       required="true"
                       data-url="/lists/users"
                />
              </span>
            </div>
            <div class="row margin0">
              <span class="col-lg-12 col-md-12 col-xs-12 marginTB10">
                <input name="project_user[role_id]"
                       class="form-control select2Input"
                       placeholder="Role"
                       required="true"
                       data-url="/lists/roles"
                />
              </span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default negative" data-dismiss="modal">Cancel</button>
        <button type="submit" form="new_project_user" class="btn btn-primary positive">Submit</button>
      </div>
    </div>
  </div>
</div>
