@import "bootstrap-sprockets";
@import "bootstrap";
@import "polymer";

html, body {height: 100%;}

body{
  overflow: hidden;
}

#main_container{
  overflow:auto;
  padding-bottom: 30px;
  min-height: 100%;
  overflow: scroll;
  z-index: 5;
}

.alert{
  width: 50%;
  margin-left: 25%;
}

.profileImage{
  height: 20px;
  border-radius: 10px;
  border: 1px solid #000;

  margin-right: 5px;
}

.opaque_bg{
  position: relative;
  background-color: white;
  width: 100%;
  z-index: 7;
}