// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectWrap {
  padding: 40px 0px;
}

.projectWrap.minimized {
  margin-top: 170px;
}

.projectTile {
  height: 350px;
  padding: 15px;
}

.projectTile > .projectContent {
  background-color: lightcoral;
  position: relative;
  height: 100%;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.projectContent > .projectInfo {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
}

.projectInfo > .name {
  margin: 5px 10px;
  color: white;
}

.projectInfo > .description {
  margin: 5px 10px;
  font-weight: normal;
  color: whitesmoke;
}

.projectContent > .actionsWrap {
  width: 50%;
  margin-left: 50%;
  height: 30px;
  padding: 5px 10px;
}

.projectContent > .actionsWrap > a {
  float: right;
  margin-right: 5px;
}

.projectContent > .actionsWrap > a:first-child {
  margin-right: 0px;
}

.tileContent {
  height: 200px;
  padding: 0px 10px;
}