// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  width: 100%;
  height: 300px;
  transition: height 0.5s ease-out;
  position: relative;
  background-color: purple;
  color: white;
}

.banner.minimized {
  height: 72px;
  transition: height 0.5s ease-out;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 10;
}

.banner > .title {
  position: absolute;
  padding: 5px 5px 10px 30px;
}

.banner > .title.main {
  bottom: 30px;
  font-size: 40px;
}

.banner.minimized > .title.main {
  font-size: 18px;
}

.banner > .title.summary {
  bottom: 0px;
}

.banner.minimized > .title.summary {
  display: none;
}

.banner > .menu-bar {
  position: absolute;
  padding: 0px 10px;
  margin: 10px 0px;
  top: 0px;
  right: 0px;
  height: 30px;
}

.menu-bar > a {
  text-decoration-style: none;
  padding: 7px 10px;
  color: white;
}

.menu-bar > a:hover {
  text-decoration: none;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 -1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0px rgba(0, 0, 0, 0.2) inset;
}

.menu-bar > a.active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.08) 40%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 -1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0px rgba(0, 0, 0, 0.2) inset;
}

.banner > .actionsWrap {
  width: 50%;
  height: 56px;
  margin-top: 272px;
  transition: margin-top 0.5s ease-out;
  z-index: 10;
  position: relative;
  float: right;
  padding: 0px 10px;
}

.banner.minimized > .actionsWrap {
  margin-top: 44px;
}

.actionsWrap > .actionItem {

}

.plusIcon:after {
  content: "+";
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.row.margin0 {
  margin: 0px;
}

.projectWrap {
  padding: 40px 0px;
}

.projectWrap.minimized {

}

.projectTile {
  height: 350px;
  padding: 15px;
}

.projectTile > .projectContent {
  background-color: lightcoral;
  position: relative;
  height: 100%;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.projectContent > .projectInfo {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
}

.projectInfo > .name {
  margin: 5px 10px;
  color: white;
}

.projectInfo > .description {
  margin: 5px 10px;
  font-weight: normal;
  color: whitesmoke;
}

.bannerBG {
  transition: height 0.5s ease-out;
}

.bannerBG.minimized {
  height: 190px;
}

.bannerBG.maximized {
  height: 300px;
}

.projectContent > .actionsWrap {
  width: 50%;
  margin-left: 50%;
  height: 30px;
  padding: 5px 10px;
}

.projectContent > .actionsWrap > a {
  float: right;
  margin-right: 5px;
}

.projectContent > .actionsWrap > a:first-child {
  margin-right: 0px;
}

.clickable, .clickable > * {
  cursor: pointer;
}

.tileContent {
  height: 200px;
  padding: 0px 10px;
}

.marginTB10 {
  margin: 10px 0px;
}